*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-height: 100vh;
    background-image: url(bg.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* navbar */

.navbar{
    width: 90%;
    margin: 20px auto;
    padding: 15px 30px;
    border-radius: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(135deg, #efd1ff, #d9ffb0, #cffff8);
    box-shadow: 0 10px 25px rgba(0,0,0,.3);
    position: relative;
}

.logo{
    font-size: 22px;
    font-weight: bold;
}

/* menu */

.menu{
    display: flex;
    list-style: none;
    gap: 15px;
}

.menu a{
    text-decoration: none;
    color: black;
    padding: 10px 18px;
    border-radius: 30px;
    transition: .3s ease;
}

.menu a:hover{
    background: #fff;
    transform: translateY(-4px);
    box-shadow: 0 8px 15px rgba(0,0,0,.3);
}

/* hamburger */

#menu-toggle{
    display: none;
}

.hamburger{
    display: none;
    font-size: 26px;
    flex-direction: column;
    cursor: pointer;
}

.hamburger span{
    height: 3px;
    width: 26px;
    background: black;
    margin: 4px 0;
    border-radius: 5px;
}

/* responsive */

@media(max-width:768px){

    body{
        background-attachment: scroll;
        background-position: center;
    }

    .navbar{
        flex-direction: row;
        border-radius: 30px;
    }

    .hamburger{
        display: flex;
    }

    .menu{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: linear-gradient(135deg, #efd1ff, #d9ffb0, #cffff8);
    flex-direction: column;
    align-items: center;
    gap: 14px;
    padding: 0;
    margin-top: 25px;
    border-radius: 50px;
    box-shadow: 0 12px 25px rgba(0,0,0,.25);
    overflow: hidden;
    max-height: 0;
    transition: max-height .45s ease, padding .35s ease;
}
}

#menu-toggle:checked ~ .menu{
    max-height: 400px;
    padding: 20px;
}

